.category-card {
  background-image: linear-gradient(
    180deg,
    var(--color-blue-light-1) 0%,
    rgba(234, 240, 255, 0) 100%
  );
  padding: 3.2rem 3rem 3.6rem;
  border-radius: 28px;
  transition: all 0.2s;

  &__img-box {
    width: 10.8rem;
    height: 10.8rem;
    background-color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 100%;
  }

  &__title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: var(--color-blue-dark-4);
    margin-top: 3.2rem;
  }

  &:hover {
    background: linear-gradient(
      138.79deg,
      var(--color-blue-light-2) 8.47%,
      var(--color-blue-light-3) 81.99%
    );
    box-shadow: 0px 28px 63px -13px rgba(80, 136, 225, 0.29);
    transform: scale(1.1);
  }
}

.order-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__img-box {
    height: 95px;
  }

  &__img {
    height: 100%;
  }

  &__step-box {
    padding: 1.1rem;
    border: 1.5px dashed var(--color-orange);
    border-radius: 50%;
    display: inline-block;

    margin-top: 4.7rem;
  }

  &__step {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color-dark-red);
  }

  &__title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: var(--color-blue-dark-1);

    margin-top: 3rem;
  }
}

.feature-card {
  text-align: center;
  padding: 3.4rem;
  border: 2px solid #e5f0ff;
  border-radius: 28px;
  transition: all 0.2s;

  &__img-box {
    width: 21rem;
    height: 21rem;
    display: inline-block;
    clip-path: circle(50% at 50% 50%);
  }

  &__img {
    height: 100%;
    background-size: cover;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.4rem;
    color: #4d4c66;
    margin-top: 3.4rem;

    transition: all 0.2s;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.4rem;
  }

  &__price {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: #2e2c49;
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.8rem;
    height: 3.8rem;
    background: linear-gradient(
      138.79deg,
      var(--color-blue-light-2) 8.47%,
      var(--color-blue-light-3) 81.99%
    );
    border-radius: 8px;

    transition: all 0.2s;
  }

  &__icon {
    font-size: 1.8rem;
    color: var(--color-white);

    transition: all 0.2s;
  }

  &:hover {
    background-image: linear-gradient(
      138.79deg,
      var(--color-blue-light-2) 8.47%,
      var(--color-blue-light-3) 81.99%
    );
    box-shadow: 0px 28px 63px -13px rgba(80, 136, 225, 0.29);
    cursor: pointer;

    position: relative;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 28px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      margin: -2px;
      background-image: linear-gradient(
        138.79deg,
        var(--color-blue-light-2) 8.47%,
        var(--color-blue-light-3) 81.99%
      );
      border-radius: inherit;
    }
  }

  &:hover > &__title {
    color: var(--color-white);
  }

  &:hover &__price {
    color: var(--color-white);
  }

  &:hover &__icon-box {
    background: var(--color-white);
  }

  &:hover &__icon {
    color: var(--color-blue-light-3);
  }
}
