*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-white-1: #fffdfa;
  --color-blue-light: #5390ff;
  --color-blue-light-1: #eaf0ff;
  --color-blue-light-2: #b0cfff;
  --color-blue-light-3: #82b2fe;
  --color-blue-light-4: #5391ff;
  --color-blue-light-5: #4e8dfd;
  --color-blue-light-6: #6b95d8;
  --color-blue-light-7: #dde6f3;
  --color-blue-light-8: #99bcf4;
  --color-blue-dark: #1660e6;
  --color-blue-dark-1: #2e2c49;
  --color-blue-dark-2: #5290ff3d;
  --color-blue-dark-3: #4585f9;
  --color-blue-dark-4: #4d4c66;
  --color-blue-dark-5: #1c65e8;
  --color-blue-dark-6: #2d76f9;
  --color-blue-dark-7: #4183f8;
  --color-grey-light: #7b7e90;
  --color-grey-light-1: #bab8bd;
  --color-grey-light-2: #aaa7b1;
  --color-grey-light-3: #c6c5ca;
  --color-grey-light-4: #abacb4;
  --color-green-light: #f0ffea;
  --color-orange: #ffb012;
  --color-orange-1: #feac00;
  --color-orange-2: #f79101;
  --color-dark-red: #59302a;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
