.heading--primary {
  font-size: 7rem;
  font-weight: 700;
  line-height: 8.2rem;
  letter-spacing: -0.005em;
  color: var(--color-blue-dark-1);
}

.heading--secondary {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4.6rem;
  line-height: 5.8rem;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: var(--color-blue-dark-1);
}
